@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
</head>
<body>
    <header>
        <p>
            Layout Head
        </p>
    </header>
    @RenderBody()
    <p>
        Layout footer
    </p>
</body>
</html>
